<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="LOG_FILE" source="logsentinel.log-file" defaultValue="logs/log-sentinel-app.log"/>
    <springProperty name="LOG_MAX_LINES" source="logsentinel.log-rotation.max-lines-per-file" defaultValue="5000"/>
    <springProperty name="LOG_MAX_INDEX" source="logsentinel.log-rotation.max-index" defaultValue="3"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', Asia/Kolkata} %-5level [%thread%replace(%X{traceId}){'^(.+)$',' traceId=$1'}%replace(%X{spanId}){'^(.+)$',' spanId=$1'}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="com.kgk.logsentinel.config.LineBasedRollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${LOG_MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="com.kgk.logsentinel.config.LineCountTriggeringPolicy">
            <maxLinesPerFile>${LOG_MAX_LINES}</maxLinesPerFile>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
